
// Custom Fonts
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap');

$theme-font: 'Lora', serif;;
$brand-color: #113745;
// $brand-color:#ED7745;
$bcolor: #000;
$wcolor: #fff;

@mixin scale ($svalue) {
  @include transform(scale($svalue));
}

@mixin transition($property,$time,$effect){
  -webkit-transition: $property $time $effect;
     -moz-transition: $property $time $effect;
      -ms-transition: $property $time $effect;
       -o-transition: $property $time $effect;
          transition: $property $time $effect;
}

@mixin transform($transforms){
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}

@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}

@mixin translate ($x,$y) {
  @include transform(translate($x,$y));
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {overflow-x: hidden;}

body {
  overflow-x: hidden;
  font-family:$theme-font; 
}

ul li {list-style: none;}

.dropdown:hover>.dropdown-menu{
	display:block;
}

a:hover, a:visited, a:focus {
	background-color: transparent;
  	text-decoration: none;
	outline: 0;
}

.zoomIn:hover{
	@include scale(1.2);
	@include transition(all,0.8s,ease);
}


.btn-theme{
	background: $brand-color;
	border: 1px solid #ED7745;
    border-radius: 3px;
    color: $wcolor;
    padding: 10px 25px;
    text-align: center;
	text-transform: uppercase;
	
	&:hover{
		background: #f7750c;
		color:$wcolor;
		@include transition(all,0.3s ,ease-in);
	}
}

.btn-product{
	background: #424344;
    border-radius: 3px;
    color: #fff;
    opacity: 0.7;
    padding: 6px 14px;
	text-transform: uppercase;
	
	&:hover{
		background: #424344;
		color:$wcolor;
		opacity: 1;
		@include transition(all,0.3s ,ease-in);
	}
}

.section-padding{padding: 4% 0;}

.section-header{
	text-align:center;
	text-transform: capitalize;

	h2{
		color: #2F4858;
    	font-size: 28px;
	}

	.header-style{
	    border-bottom: 1px solid $brand-color;
	    width: 7%;
	    margin: 0 auto;
	}
}

.section-content{
	max-width: 990px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 45px;
}

// CSS For Top Navbar

.menu-sidenav {
    background: #eee;
    width: 0;
    height: 100%;
    position: fixed;
    overflow-x: hidden;
    top: 0;
    left: 0;
    z-index: 55;
    @include transition(all,.4s,ease);

    .closebtn {
	    position: absolute;
	    top: -5px;
	    right: 20px;
	    color: $bcolor;
	    font-size: 36px;
	    margin-left: 50px;
	}

    .sidenav-menu-link{
	    padding-top: 30px;
	    padding-left: 20px;
	    padding-right: 20px;

	    ul li{margin-bottom: 25px;}

	    a{
	    	color: $bcolor;
	    	text-transform: capitalize;
	    	@include transition(all,.4s,ease);

	    	&:hover{color: #757575;}

	    	span{
	    		float: right;
				font-size: 20px;
				color: #000;
				line-height: 16px;
				text-align: center;
	    	}
	    }

	    #second-category{margin: 25px;}

	    #third-category{margin: 25px;}
	}

    hr{border-top: 1px solid #ddd;}

    .sidenav-menu-account{
	    padding-top: 30px;
	    padding-left: 20px;
	    padding-right: 20px;

	    ul li{margin-bottom: 25px;}

	    a{
	    	color: $bcolor;
	    	text-transform: capitalize;
	    	@include transition(all,.4s,ease);

	    	&:hover{color: #757575;}
	    }
	}

	.sidenav-menu-social{
	    padding-top: 30px;
	    padding-left: 20px;
	    padding-right: 20px;

	    ul li{
	    	margin-bottom: 25px;
	    	float: left;
	    }

	    a{
	    	color: $bcolor;
	    	font-size: 22px;
    	    margin-right: 20px;
	    	text-transform: capitalize;
	    	@include transition(all,.4s,ease);

	    	&:hover{color: #757575;}
	    }
	}
}

.header{

	.top-nav{
		border-bottom: 1px solid #eee;
	    height:40px;
		text-align: right;
    	ul{
		    display: inline-block;
	        margin-top: 7px;

    		li{
			    display: inline-block;

			    a{
			    	color:$bcolor;
		    	    padding: 10px;
		    	    text-transform:capitalize;
					
					span{
						color:#ff0000;
						font-size:11px;
					}

		    	    sub{
		    	    	top: 11px;
					    left: -8px;
					    font-size: 14px;
		    	    }

		    	    &:hover{
		    	    	color:$brand-color;
		    	    	@include transition(all,.6s,ease);
		    	    }
			    }
    		}
    	}
	}

	.action-bar{
		border-bottom: 1px solid #eee;

		.searchbox{
			margin-top: 25px;

			.input-group{

	    		.form-control{
	    			height: 45px;
	    			border-left: 0;
	    			border-right: 0;
	    			box-shadow: none;
	    		}

	    		.input-group-addon:first-child{
	    			background: transparent;
	    		}

	    		.input-group-addon:not(:first-child){
		    		background:$brand-color;
		    		border: 1px solid $brand-color;
		    	}
		    	button{
	    			background: transparent;
	    			border: 0;
	    			color: $bcolor;
				    font-size: 20px;
				    padding: 0 10px;

				    &:hover{
		    	    	color:$brand-color;
		    	    	@include transition(all,.6s,ease);
		    	    }
	    		}
	    	}
		}

		.action-icon{
		    margin-top: 25px;
			
			ul{
				li{
					.cart-icon{
						width: 70px;
					    height: 45px;
					    background: $brand-color;
					    border-radius: 4px;
					    line-height: 40px;
					    text-align: center;
						a{
							color: $wcolor;
		    				font-size: 23px;

						    &:hover{
				    	    	color: $wcolor;
				    	    	@include transition(all,.6s,ease);
				    	    }
		    			}
		    			span{
						    color: $wcolor;
						    font-size: 18px;
						}
					}
				}
			}

			.dropdown-menu{
				left: 10px;
				border-radius: 0;
			    border: 0;
			    min-width: 90px;

			    li a{font-size: 15px;}
			}
		}
    }

    .main-nav{
    	height: 50px;
    	background:$wcolor;
		border-bottom: 1px solid #eee;
	    padding: 15px 0;
    	.mainnav-wrapper{
    		text-align: center;

	    	ul{
	    		li:first-child{
	    			a{padding-left:0;}
	    		}

	    		li{
    			    display: inline-block;
    			    margin-right: 30px;

    			    a{
    			    	color:$bcolor;
    			    	cursor:pointer;
		    	        padding-right: 25px;
			    	    text-transform: uppercase;

			    	    .link-hover{
			    	    	width: 0;
						    height: 1px;
						    display: block;
						    background: #000;
			    	    }

			    	    &:hover{
			    	    	color:$brand-color;
			    	    	@include transition(all,.3s,ease);
			    	    	.link-hover{
			    	    		width: 100%;
			    	    		@include transition(all,.5s,ease);
			    	    	}
			    	    }
    			    }
	    		}
	    	}

	    	.mega-dropdown{
		    	.mega-dropdown-content{
					width: 100%;
					position: absolute;
					left: 0;
				    top: 210px;
				    background: #f7f7f7;
				    border: 1px solid #f7f7f7;
				    border-radius: 0;
				    box-shadow: none;
			        padding: 15px 0;
				    text-align: left;
				    @include transition(all,.6s,ease);
				    visibility: hidden;
				    z-index: 100;

				    .submenu-header{
				    	font-size: 16px;
					    font-weight: 900;
					    text-transform: uppercase;
				    }

				    .submenu-list{
			    	    li{
			    	    	display: block;
			    	    	margin-bottom: 10px;
			    	    	a{
			    	    		color: #3c3c3c;
			    	    		text-transform: capitalize;
			    	    	}
			    	    }
				    }
				}

				&:hover{
					.mega-dropdown-content{
						top: 190px;
					    visibility: visible;
					}
	    	    }
			}
    	}

    	.icons{
    		position: absolute;
		    right: 30px;
		    top: 0;
    		opacity: 0;
    		visibility: hidden;

    		ul{
    			li{
    				height: 50px;
    				border-left: 1px solid #ddd;
				    display: table-cell;
				    padding: 0 20px;
				    vertical-align: middle;
    				a{
    					font-size: 20px;
    					padding-right: 0;
    				}
    			}

    			li:last-child{border-right: 1px solid #ddd;}
    		}
    	}

    }

    .fixed-nav{
    	position: fixed;
	    top: 0;
	    left: 0;
	    width: 100%;
	    z-index: 30;

 		.mainnav-wrapper{
 			.mega-dropdown{
 				.mega-dropdown-content{
			    	top: 80px;
				}

				&:hover{
					.mega-dropdown-content{
						top: 50px;
						@include transition(all,.6s,ease);
					}
	    	    }
 			}
 		}

 		.icons{
    		opacity: 1;
    		visibility: visible;
    		@include transition(all,.6s,ease);
    	}
    }
}

.searchbox-mobile{
	display: none;

	.input-group{
		.form-control{
			border-right: 0;
			height: 38px;
		}

		.input-group-addon{
			background:$wcolor;

			button{
				background: transparent;
				border: 0;
				color: #b3b3b3;
			    font-size: 20px;

			    &:hover{
	    	    	color:$brand-color;
	    	    	@include transition(all,.6s,ease);
	    	    }
			}
		}
	}
}

.homeslider{

	.carousel-indicators{

		li {
			width: 8px;
			height: 8px;
			background-color: #eee;
			border: 1px solid #eee;
			border-radius: 50%;
		}

		.active {
			width: 9px;
			height: 9px;
			background-color: $brand-color;
			border: 1px solid $brand-color;
			border-radius: 50%;
		}
	}

	.carousel-control{
		top: 42%;
	    height: 0;
	    background-image: none;
	    color: #000;
	    font-size: 10px;
	    opacity: 1;
	    text-shadow: none;

	    i{
	    	background: #ffffffb5;
		    border-radius: 2px;
		    font-size: 35px;
		    padding: 15px 12px;
	    }
	}

	.left{left: -85px;}

	.right{right: -85px;}
}

.category{
	.row{margin-bottom: 50px;}

	.category-box{
		img{
			margin:0 auto;
			padding: 5px;
			&:hover{
				border:1px solid $brand-color;
				@include transition(all,0.4s ,ease-in);
			}
		}
	}
}

.bestsell,.bestsofa,.blog{
	background:#f2f4f4;

	h5{text-align: center;}
	
	p{
	    max-width: 800px;
	    color: #999;
	    margin: 0 auto;
	    padding-bottom: 20px;
	    text-align: center;
	}

	img{height:468px}

	.name-button{
		padding:10px;
		text-align:center;

		h5{margin-bottom: 25px;}
	}

	.row{
		border-bottom: 1px solid #ddd;
	    margin-top: 25px;
	    padding-bottom: 50px;

		.display{
			.display-photo{
				overflow: hidden;
				img{height:262px;}
			}
		}
		
	}
}

.smartdesign{
	.hz-row{
		img{height:500px;}
	}

	.vt-row{
		.vt-row-photo{
			margin-bottom: 30px;
			overflow: hidden;

			img{height:200px;}
		}

		.vt-row-text{
			border: 1px solid #ddd;
    		padding: 15px 24px 30px;

    		h2{
    			color: #2F4858;
    			font-size: 26px;
    		}

    		p{
    			color:#999;
			    margin: 20px 0;
    			text-align:justify;
    		}
		}
	}
}


.newproduct{
	.section-content{
		border-bottom: 1px solid #ddd;
    	padding-bottom: 25px;
	}

	#newProduct{
		.product-box{
			text-align: center;
			.product-photo{
				overflow: hidden;
				img{
					height: 310px;
					margin: 0 auto;
				}

				span{
					position: absolute;
					top: 10px;
					right: 0;
					background: $wcolor;
					box-shadow: 1px 2px 5px 0px #ddd;
					color: $bcolor;
					font-size: 13px;
					padding: 0 5px;
					text-align: center;
					text-transform: uppercase;
				}
			}

			.product-name{
				height:auto;
				padding: 5px 30px;
			    text-transform: uppercase;
				a{
					color: $bcolor;
		    		font-size: 15px;
				}

				.name-style{
					border-bottom: 1px solid $bcolor;
				    width: 12%;
				    margin: 0 auto;
				    padding: 5px 0;
				}
			}

			.product-button{padding: 20px 0;}
		}

		.owl-nav{
			.nav-prev {
				position: absolute;
			    top: 28%;
			    left: -23px;
			    color: $bcolor;
			    cursor: pointer;
			    font-size: 70px;
			    line-height: 25px;
			}

			.nav-next {
				position: absolute;
			    top: 28%;
			    right: -23px;
			    color: $bcolor;
			    cursor: pointer;
			    font-size: 70px;
			    line-height: 25px;
			}
		}
	}
}

.bestproduct{
	.product-box{
		text-align: center;
		.product-photo{
			img{
				height: 220px;
				margin: 0 auto;
			}

			span{
				position: absolute;
				top: 10px;
				right: 0;
				background: $wcolor;
				box-shadow: 1px 2px 5px 0px #ddd;
				color: $bcolor;
				font-size: 13px;
				padding: 0 5px;
				text-align: center;
				text-transform: uppercase;
			}
		}

		.product-name{
			height: auto;
		    padding: 5px 0;
		    text-transform: capitalize;
			a{
				color: #999;
    			font-size: 14px;
			}

			.name-style{
				border-bottom: 1px solid $bcolor;
			    width: 12%;
			    margin: 0 auto;
			    padding: 5px 0;
			}
		}
	}

	.owl-nav{
		.nav-prev {
			position: absolute;
		    top: 28%;
		    left: -23px;
		    color: $bcolor;
		    cursor: pointer;
		    font-size: 70px;
		    line-height: 25px;
		}

		.nav-next {
			position: absolute;
		    top: 28%;
		    right: -23px;
		    color: $bcolor;
		    cursor: pointer;
		    font-size: 70px;
		    line-height: 25px;
		}
	}
}

.client{
	#client{
		.client-box{
			border: 1px solid #979797;
    		padding: 25px;
			text-align: center;
			.client-photo{
				img{
					width: 50px;
				    height: 50px;
				    border-radius: 50%;
				    background: #ddd;
				    background-size: cover;
				    margin: 0 auto;
				}
			}

			.platform{
				margin-bottom: 10px;
				a{color:$brand-color;}
			}

			.product-photo{
				img{height:215px;}
			}

			.product-name{
				height: 50px;
    			line-height: 30px;
			}

			.product-button{
				margin-bottom: 15px;
				a{padding: 5px 15px;}
			}
		}

		.owl-nav{
			.nav-prev {
				position: absolute;
			    top: 40%;
			    left: -23px;
			    color: $bcolor;
			    cursor: pointer;
			    font-size: 70px;
			    line-height: 25px;
			}

			.nav-next {
				position: absolute;
			    top: 40%;
			    right: -23px;
			    color: $bcolor;
			    cursor: pointer;
			    font-size: 70px;
			    line-height: 25px;
			}
		}
	}
}


.home-text{
	.info-text{
		padding: 5px 15px;
		
		h1{
			font-size: 15px;
			font-weight: 900;
		}

		h2{
			font-size: 13px;
			font-weight: 900;
		}

		p{
			color: #999;
			line-height: 25px;
		}
	}
}

.newsletter{
	.col-lg-7{
		text-align:right;

		.form-control{
		    width: 60%;
    		height: 42px;
		}
	}
}

.long-footer{
	background: $wcolor;
	padding: 10px 0;
	
	.footer-style{
	    border-bottom: 1px solid $brand-color;
	    width: 10%;
	    margin-top: -7px;
	}
	h5{
		text-transform: capitalize;
		padding-bottom: 10px;
	}

	ul{

		li{
			padding: 3px 0;

			a{
				color: #2F4858;
				font-size: 13px;
				margin-left: 0;
				text-transform: capitalize;

				&:hover{
					color: $brand-color;
					@include transition(all,0.6s,ease);
				}
			}
		}
	}

	.social{
		margin-top:10px;

		ul{
			li{
				a{
					font-size: 25px;
					padding:20px;
				}
			}
		}
	}

	.download-app{margin-top:10px;}

}

footer{
	background:#2F4858;
	color: $wcolor;
	padding: 10px 0;

	.delivery-place{
		h5{text-transform: capitalize;}

		a{
			color: $wcolor;
			&:not(:last-child):after{content: " | ";}
		}
	}

	p{
		margin-top: 40px;
	    text-align: center;
	}

	a{
		color: $wcolor;
		&:hover{color:$brand-color;}
	}
}


// CSS For Catalog Page

.back-link{
	margin-top: -45px;
    margin-bottom: -20px;
	.breadcrumb{
		background: transparent;
		padding: 8px 0;

		li{
			text-transform: capitalize;
			a{
				color: #999;
				&:hover{
					color: $brand-color;
					text-decoration:underline;
				}
			}
		}

		.active{color:$bcolor;}
	}

	.breadcrumb>li+li:before{
		color: $bcolor;
		content: ">";
	}
}


.catalog{
	h6{color:#999;}

	p{
		max-width: 980px;
    	margin: 0 auto;
	}

	.filter-sort{
		border-top: 1px solid #ddd;
	    border-bottom: 1px solid #ddd;
	    padding-top: 10px;
	    
		.filter-option{
			.btn-filter{
				background: $brand-color;
			    border: 1px solid $brand-color;
			    border-radius: 2px;
			    color:$wcolor;
			    padding: 3px 10px;

			    &:hover{
					background:#2F4858;
					border: 1px solid #2F4858;
			    }
			}

			ul{
				li{display: inline-block;}
			}
		}

		.sort-option{
			float: right;

			p{margin-left: 12px;}
		}
	}

	.catalog-product{
	    padding: 15px 5px;

	    .row{height: 430px;}
		.product-box{
			cursor: pointer;
			padding: 10px 7px;
			text-align: center;
			.photo{
				img{
					max-width:293px;
					max-height: 293px;
					margin:0 auto;
				}

				span{
					position: absolute;
				    top: 20px;
				    left: 16px;
				    background: $wcolor;
				    border: 1px solid $bcolor;
				    padding: 0 8px;

				    &:before {
				    	content: '';
				    	width: 0;
					    height: 0;
					    border-top: 7px solid #999;
					    border-left: 6px solid transparent;
					    position: absolute;
					    left: 0;
					    top: 21px;
					    z-index: -1;
				    }
				}

			}

			.name{
				padding-top: 10px;
				a{
					color:$bcolor;
					text-transform:capitalize;
				}
			}

			.price{padding-top: 10px;}

			.button{
				padding-top: 25px;
   				padding-bottom: 10px;
   				display: none;

   				a{cursor: pointer;}
			}

			&:hover{
				box-shadow:0 0 10px #ddd;
				.button{display: block;}
				@include transition(all,0.5s,ease);
			}
		}
	}
}

// ***************************************

// CSS For Product Details Page

.product-details{
	.product-slider{
		padding-left: 25px;
	    padding-right: 25px;
		padding-bottom: 60px;
		#productSlider{
			.carousel-control{
				top: 35%;
			}

			.carousel-control.left{
				left: -60px;
				background-image: none;
				height: 31px;
			    color: #464545;
			    font-size: 60px;
			}
			.carousel-control.right{
				right:-60px;
				background-image: none;
				height: 31px;
			    color: #464545;
			    font-size: 60px;
			}
			.controls{
			    .nav{
			    	li{
					    display: inline-block;
					    padding: 10px 5px;

					    a{
					    	padding: 0;
					    	img{
						    	width: 65px !important;
						    	max-height: 35px;
						    	min-height: 35px;
						    }
					    }
					}

					// .active{
					//     border: 1px solid #999;
					//     margin-top: 5px;
					//     opacity: 0.8;
					// }
			    }
			}
		}
	}

	.varient-list{
		select{
			border: 1px solid $brand-color;
		    border-radius: 0;
	        cursor: pointer;
		    -webkit-appearance: none;
		}
	}

	.price{
		padding: 10px 0;
		span{
			font-size: 25px;
    		font-weight: 900;
    	}
	}

	.cart-button{padding-bottom: 10px;}

	p{
		color: #717171;
    	font-size: 12px;
	}
}

.service{
	.row{
		border-bottom: 1px solid #ddd;
		padding-bottom: 15px;
	}
	.service-box{
	    text-align: center;
		.icon{
			color:$brand-color;
			height: 50px;
		}

		.shstyle {
		    border-bottom: 1px solid #999;
		    width: 20%;
		    margin: 0 auto;
		}

		p{
			color:#999;
			margin-top:5px;
		}
	}
}

.product-info{
	.nav-pills{
		border-bottom: 1px solid #999;

		li{
			a{
				color:#999;
				&:hover{color:$bcolor;}
			}
		}
	}

	.nav-pills>li.active>a, 
	.nav-pills>li.active>a:focus, 
	.nav-pills>li.active>a:hover{
		background: transparent;
		border-bottom: 1px solid $brand-color;
		border-radius: 0;
		color:$brand-color;
	}

	.nav>li>a:focus, 
	.nav>li>a:hover{
		background: transparent;
	}

	.tab-content{
		border-bottom: 1px solid #ddd;
		padding-bottom: 15px;
	}
}

.bestproduct{
	.pcat-box{
	    cursor: pointer;
	    margin-bottom: 10px;

		.media{
			background: #eaeaea;
			border: 1px solid #d6d4d4;

			.media-body{
				padding-top: 6px;

				.media-heading{
					a{color:$brand-color;}
				}
			}
		}
	}
}

.zoomLens{
	width: 100px !important;
	height: 100px !important;
}




// *******************************************

// CSS For Cart Page

.shopping-cart{
	margin-bottom: 55px;

	thead>tr>td{text-transform:uppercase;}

	th,tr{
		border-bottom: 1px solid #ddd;
		text-align: center;
	}

	.table>tbody>tr>td{
		vertical-align: middle;
		img{width: 90px;}
	}

	td:nth-child(6){padding:20px 0;}

	.form-control{
		background: transparent;
	    border: 0;
	    box-shadow: none;
	    border-bottom: 2px solid #eaeaea;
	    border-radius: 0;
	    font-size: 20px;
    	width: 25%;
	    margin: auto;
		text-align: center;
	}

	span:nth-child(1) a{
		border: 1px solid $bcolor;
	    color: $brand-color;
	    margin-right: 10px;
	    padding: 7px 10px;
	}

	span:nth-child(2) a{
		border: 1px solid $bcolor;
	    color: #f00;
	    margin-right: 10px;
	    padding: 7px 10px;
	}

	.shopping-cart-footer{

		.payment{float: left;}

		.shopping-total{
			width: 30%;
    		float: right;

    		.shopping-button{text-align: center;}
		}
	}
}

// ************************************


	
	
